html, body {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: rgb(50, 50, 50);
}
.clearfix {
  overflow: auto;
}


.tile-group-double {
  width: 320px;
}

.tile:hover {
  border: 2px solid #fff;
  color: rgb(50, 150, 200);
}

.fg-white {
  color: #fff;
}

.tile-group {

  /*margin-left: 80px;*/
  min-width: 80px;
  float: left;
  display: block;
  padding-top: 40px;
  position: relative;
}

.tile-container {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}


.tile-sm {
  min-width: 150px;
  min-height: 120px;
}

.tile-sm {
  max-width: 250px;
  max-height: 220px;
}

.tile-top .tile-low {
  margin-bottom: 10px;
}

.tile-low {
  margin-top: 10px;
}

.r-col {
  clear: left;
  margin-left: 500px;
  position: absolute;
}

.tile.bg-indigo {
  /*margin-top: 20px;*/
  clear: right;
}

.bg-indigo {
  background-color: #6a00ff;
}

.bg-darkBlue {
  background-color: #16499a;
}

.tile-lg {
  height: 450px;
  width: 450px;
  display: block;
}

.bg-green {
  background-color: #006400;
}

.slide-left {
  position: relative;
  transition: all .5s;
  overflow: hidden;
  display: none;
}

.slide {
  position: absolute;
  background: rgba(255, 0, 0, 0.5);
  padding: 10px 20px;

  opacity: 0;
  bottom: 0;
  left: -30%;
  transition: all 0.6s ease;
}

.slide-left:hover .slide {
  opacity: 1;
  left: 0;
}

.tile-label {
  margin: 0 auto;
  padding-left: 8px;
  padding-top: 8px;
}

.tile-group .tile-group-title {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  top: 10px;
}

.tile-area .tile-area-title {
  position: fixed;
  top: 20px;
  left: 80px;
  font-weight: 300;
  font-size: 42px;
}

.tile-area {
  min-width: 100%;
  position: relative;
  padding: 120px 80px 0 0;
}

.tile {
  display: block;
  position: relative;
}

a.tile .fg-white {
  margin: 5;
}

.tile-video {
  height: 300px;
  width: 350px;
}

.video-left {
  clear: right;
}

.bg-red {
  background-color: #f00;
}

.video-right {
  float: right;
  clear: left;
}

.bg-purple {
  background-color: #4B0082;
}

.tile-store {
  height: 200px;
  width: 500px;
}

.bg-grey {
  background-color: #808080;
}

.glyphicon-folder-open {
  font-size: 6em;
  left: 20px;
  top: 10px;

}



/*.tile-area-scheme-dark {
  background-color: rgb(50, 50, 50);
}*/
